
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

.idea/*

target/
samples/

dm-seer.log
temp.txt
