
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

.idea/

target/
samples/
avatars/
items/
items copy/

dm-seer.log
temp.txt
/src/main/resources/.ebextensions/
